<!-- your html code here -->
<div class="container-fluid mt-5 ps-0 pe-3  border border-secundary border-start-0 border-end-0">
    <div class="row pt-3 pb-3">
        <div class="col-7">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <h3>This First Heading <span class="fs-3 text-muted">Will Catch Your Eye</span></h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, cumque veniam at eaque repellendus maxime officiis assumenda reprehenderit expedita distinctio nesciunt laboriosam labore voluptatibus laborum consectetur facere, rerum provident nulla?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="container-fluid ps-0">
                <div class="row">
                    <div class="col-10">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7304269.jpg&f=1&nofb=1&ipt=4db008dca62671d4b954ec9ba70e89824960dc8eb89ee6333c1fd00adaa2d8c2&ipo=images" alt="" class="img-fluid rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>